
%% Dependencies
{deps, [
  {jsone, ".*", {git, "git@github.com:sile/jsone.git"}},
  {dactyl, ".*", {git, "git@github.com:basho/dactyl.git"}},
  {hackney, ".*", {git, "git@github.com:benoitc/hackney.git"}}
]}.

{escript_incl_apps, [
  jsone,
  dactyl,
  hackney,
    idna,
    mimerl,
    certifi,
    metrics,
    ssl_verify_fun
]}.
